.landing-page{
    -fx-background-image : url("../images/bg.jpg");
    -fx-background-color : "#E9EFFD";
    -fx-background-repeat : no-repeat;
    -fx-background-size : cover;
    -fx-text-fill : white;
}

.welcome-text{
    -fx-text-fill: #ffffff;
}
.date{
    -fx-padding: 10px;
}

.start-button{
    -fx-padding : 20px;
    -fx-background-radius: 20px;
    -fx-background-color : "#6B62B9";
    -fx-text-fill : "#FFFCFF";
    -fx-cursor : pointer;
}

.start-button:hover{
    -fx-opacity : 0.5;
}

.author{
    -fx-position : absolute;
}