.background{
    -fx-background-color : "#E9EFFD";
}

.products-card{
    -fx-background-color : "#F6F3F3";
    -fx-padding : 10px;
    -fx-background-radius : 10px;
    -fx-border-color : black;
    -fx-border-radius : 10px;
}

.card-title{
    -fx-font-size : 16px;
    -fx-font-weight : BOLD;
}