
.forms{
    -fx-background-color : "#E9EFFD";
    -fx-border-color : black;

}

.picture-container{
    -fx-background-color : black;
}

.title{
    -fx-font-size : 30;
    -fx-font-weight : BOLDER;
}

.sub-title{
    -fx-font-size : 16;
    -fx-font-weight : BOLD;
}

.combo-box{
    -fx-background-radius: 20px;
}

.submit-btn{
    -fx-padding : 8px;
    -fx-background-radius: 20px;
    -fx-background-color : "#6B62B9";
    -fx-text-fill : "#FFFCFF";
    -fx-cursor : pointer;
 }

.submit-btn:hover{
    -fx-opacity : 0.5;
}

.member-name{
    -fx-font-size : 12;
    -fx-font-weight : BOLD;
}

.background{
    -fx-background-color : "#E9EFFD";
}

.member-name-title{
    -fx-font-weight : BOLDER;
    -fx-font-size : 30;
}

.user-data{
    -fx-font-size : 16
}

.back-btn{
    -fx-padding : 5px;
    -fx-background-radius: 20px;
    -fx-background-color : "#6B62B9";
    -fx-text-fill : "#FFFCFF";
    -fx-width : 30;
}

.scroll-pane{
    -fx-background-radius : 6px;
    -fx-border-color : black;
    -fx-border-width : 2px;
    -fx-border-radius : 6px;
    -fx-padding : 8px;
}

.single-data{
    -fx-background-color : "#F1ECFF";
    -fx-background-radius : 6px;
    -fx-border-radius : 6px;
    -fx-border-width : 1px;
    -fx-border-color : black;
    -fx-padding : 6px;
    -fx-cursor : "pointer";

}

.content{
    -fx-font-size : 16;
}

